PORT = 5000
DATABASE_CLOUD = "mongodb+srv://<db_username>:<db_password>@<cluster_name>.mongodb.net/?retryWrites=true&w=majority"
NODE_ENV = developement
JWT_SECRET = YOUR_SECRET
CLOUDINARY_URL = cloudinary://<your_api_key>:<your_api_secret>@<your_cloud_name>


SMPT_HOST = smtp.mailtrap.io
SMPT_PORT = 2525
SMPT_EMAIL = Your_Email
SMPT_PASS = Your_Password
SMPT_FROM_EMAIL = non_reply@gmail.com
SMPT_FROM_NAME = Bidding